/* styles.css */

/* CSS for the slider container */
.slidercontainer {
    width: 100%; /* Adjust the width as needed */
    /* margin: 0 auto; */
    /* overflow: hidden; */
    position: relative;
}

/* CSS for the image slider */
.slider {
    height: 700px;
    /* margin-top: ; */
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}

/* CSS for individual slides */
.slider img {
    width: 100%;
    height: auto;
}

/* Keyframes for the slide animation */

img{
    height: 300px;
    width: 300px;
}






