/* styles.css */

/* CSS for the slider container */
.slidercontainer {
    width: 100%; /* Adjust the width as needed */
    /* margin: 0 auto; */
    /* overflow: hidden; */
    position: relative;
}

/* CSS for the image slider */
.slider {
    height: 700px;
    margin-top: ;
    background-image: url("https://images.unsplash.com/photo-1612103198005-b238154f4590?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}

/* CSS for individual slides */
.slider img {
    width: 100%;
    height: auto;
}

/* Keyframes for the slide animation */

img{
    height: 300px;
    width: 300px;
}






