*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    transition: all 0.4s  ;
}

#maincontainer{
    background-color: rgb(252, 252, 252);
    /* overflow: hidden; */
    width: 100%;
    height: 30px;
    box-shadow: 1px 1px 1px black;
}
#productcontainer{
    /* background-color: aquamarine; */
}   


#mainlistcontainer{
    /* background-color: rgba(134, 147, 120, 0.683); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 700px; */
    width: 100%;
}
#productlist{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    background-color: rgb(246,246,246);
    margin-bottom: 2px;
    width: 70%;
    height: 300px;
    box-shadow: 1px 1px 1px rgb(232, 227, 227);
    /* z-index: -1; */
}
#productlist>div>img{
    height: 210px;
    width: 210px;
    margin-top: 40px;
}


/* inside productlist container */

#imagecontainer{
height: 300px;
width: 200px;
background-color: rgb(246,246,246); 
 }
#listcontainer{
    height: 200px;
    width: 100%;
}
#listcontainer>#buybtn{
    background-color: rgb(251,100,27);
    font-size: small;
    font-weight: 500;
    
    box-shadow: 1px 1px 1px rgb(171, 166, 166);
}
#listcontainer>#buybtn>a{
    color: rgb(245, 236, 236);
}
#listcontainer>#addbtn{
    background-color: rgb(255,159,0);
    font-size: small;
    font-weight: 500;
    box-shadow: 1px 1px 1px rgb(171, 166, 166);
}
#listcontainer>#addbtn>a{
    color:rgb(245, 236, 236) ;
}
#listcontainer>li{
    list-style-type: none;
    margin-top: 6px;
}

#listcontainer>button{
   margin-top: 60px;
   margin-right: 45px;
   height: 34px;
   width: 130px;
   border: 0px solid;
   border-radius: 2px;
}


/* drop down menu section */
#dropdownmenu{
    height: 30px;
    
}
#dropdownmenu>ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    height: 30px;
}
a{
    text-decoration: none;
    color: black;
}
/* #dropdownmenu>ul>li>ul>li{
display: none;
}
#dropdownmenu>ul>li>ul>li:hover{
    display: block;
} */

#dropdownmenu>ul>li>ul{
    display: none;
}

#dropdownmenu>ul>li:hover ul{
display: block;
/* position: relative; */
z-index: 100;
}
#dropdownmenu>ul>li>ul>li{
    height: 20px;
    /* background-color: aquamarine; */
   
}
#dropdownmenu>ul>li>ul{
    list-style-type: none;
    position: absolute;
}
#dropcontent{
    background-color: rgb(250, 250, 250);
    height: 210px;
    width: 350px;
    position: relative;
    right: 20px;
    box-shadow: 1px 1px 1px rgb(204, 199, 199);
    top: 5px;
    border-radius: 2px;
}
#dropcontent>li{
    margin-left: 19px;
    height: 35px;
}

#sidediv{
    height: 100px;
    width: 100px;
    background-color: azure;
}


/* hover for navigation bar */
#dropdownmenu>ul>li> a:hover{
    color: rgb(181, 125, 125);
    /* text-decoration: underline; */
  /* font-weight: 600; */
}
#dropdownmenu>ul>li>ul>div>li a:hover{
    color: blue;
    /* background-color: orange; */
    /* text-decoration: underline; */
}

#listcontainer>#addbtn:hover{
    transform: translateY(-3px);
    box-shadow: 1px 1px 2px rgb(167, 158, 158);
}
#listcontainer>#buybtn:hover{
    transform: translateY(-3px);
    box-shadow: 1px 1px 2px rgb(167, 158, 158);
}