*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Navigation bar styles */
.navbar {
    
    /* background-color: rgb(94, 117, 216); */
    /* background: linear-gradient(135deg, #a6c0fe, #ffffff); */
    /* background: linear-gradient(135deg, #0033a0, #66a3ff); */
    /* background: linear-gradient(135deg, #001f3f, #ffffff); */
    /* background: rgb(232,17,104); */
/* background: radial-gradient(circle, rgba(232,17,104,1) 15%, rgba(228,20,107,1) 32%, rgba(124,104,201,1) 76%, rgba(80,0,19,1) 95%); */


/* background: linear-gradient(#7b8fc9,#0f83ff); */
background-color: #0f83ff;








    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* font-family: 'Poppins', sans-serif; */
}

/* Logo styles */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Navigation list styles */
.navlist {
    list-style-type: none;
    display: flex;
    gap: 50px;
    
   
}

.navlist li {
    padding: 0;
}

.navlist a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  
}

.navlist a:hover {
    color: #b4afaf; /* Change the color on hover */
}

#logo>a>img{
    height: 30px;
    width: 100px;
}

#logo>input{
    width: 400px;
    margin-left: 100px;
    border: 0px solid;
    height: 31px;
    border-radius: 1px ;
}
#logo>button{
    width: 50px;
    border: 1px solid #ccc;
    background-color: white;
    height: 30px;
    border-radius: 1px;
   
}
#logo>input[type="text"]{
    padding: 16px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
}